body {
  background-color: $--clr-main-dark;
  color: $--clr-main-light;

  // MQ mixin call
  //   @include sm {
  //     background-color: red;
  //   }
  //   @include m {
  //     background-color: orange;
  //   }
  //   @include l {
  //     background-color: yellow;
  //   }
  //   @include xl {
  //     background-color: green;
  //   }
  //   @include xxl {
  //     background-color: skyblue;
  //   }
}

li.active {
  position: relative;
  width: 100px;

  &::after {
    position: absolute;
    content: "";
    bottom: 3px;
    right: 20px;
    width: 40px;
    height: 2px;
    background-color: $--clr-main-accent;
    animation: linkIn 300ms ease-in-out;
  }
}
@keyframes linkIn {
  0% {
    width: 0px;
  }

  100% {
    width: 40px;
  }
}
